<!DOCTYPE html>
@using Blogee.Models;

@{

    ViewBag.Title = "Dashboard";
    var user = ViewBag.User;
    var post = ViewBag.Post;

}

<html>
<body>
    <h2>My dashboard</h2>
    <h3> @CurrentUserModel.CurrentName </h3>

    <!-- the below is used to check that the post is indeed sent to the controller -->
    @if (post != null)
    {
        <br />
        <br />

        <table>
            <tr>
                <th> Title </th>
                <th> Description </th>
                <th> Location </th>
                <th> Tags </th>
                <th> Content </th>
            </tr>
            <tr>
                <td> @post.Title </td>
                <td> @post.Description </td>
                <td> @post.Location </td>
                <td> @post.Tags </td>
                <td> @post.Content </td>
            </tr>
        </table>
    }

    <!-- here you need to display all the posts made by the current user
    // for the moment we will not add pictures because that will be costly, so we'll just focus on constructing the backbone of this web application -->

</body>
</html>